@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {

    --mint: #D6E5CB;
    --green: #3D7245;
    --dark-grey: #313131;
    --orange: #EE6C4D;
    --red: #BC2E19;
}

.hidden {
    display: none !important;
}

body {
    background-color: white;
    font-family: 'Fahkwang', sans-serif;
}

.group {
    background-color: white;
    text-align: center;
    /* 
    border-style: dashed;
    border-width: 10px; */

    width: 100%;
    height: auto;
}

#_01 {
    /* background-image: url(https://dreaminginyellow.com/diy-custom-design-yellow-strips/); */
    background-image: url(../images/spenden_page/spenden_IMG-001.png);

    padding-top: 120px;
    padding-bottom: 511px;

    width: 100%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#dateButtonPseudo{
    position: relative;
    bottom: -40%;
    width: 25%;
    height: auto;
}

#dateButtonPseudo::before{
    content:'Jetzt Spenden';
    font-size: 10px;
    color: black;
    display: block;
    position: relative;
    bottom: 5%;
   
    
}

.donateButton {
    text-align: center;

    width: 100px;
    height: 100px;

    border: none;

    padding: 0px;
    background: transparent;
    color: white;
    
}


#btn_donateImg {
    max-width: 100%;
    max-height: 100%;
}

#_02 {
    background-color: var(--mint);
    height: auto;

    text-align: center;
    color: var(--dark-grey);
}

#_02h {

    font-family: 'Abel';
    font-style: normal;
    font-size: 18px;

    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
}

#_02text {

    font-size: 40px;

    padding-bottom: 10%;
    padding-top: 120px;
    padding-left: 6.9%;
    padding-right: 6.9%;
}

.article {
    background-color: white;

    /* border-style: dashed;
    border-width: 10px; */

    width: auto;
    height: auto;

    position: relative;
}

#_03 {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 200px;
}

#_03h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-right: 40%;

    left: 0px;
    top: 0px;
}

#_03text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    left: 0px;

    padding-bottom: 400px;
    padding-right: 71%;
}

#_03img {
    background-color: #313131;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 5%;

    height: auto;
    width: auto;
}


#_04 {
    margin-right: 100px;
    margin-left: 100px;
}

#_04h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-left: 60%;
    padding-right: 1%;
    padding-top: 5%;

    right: 0px;
    top: 0px;
}

#_04text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    right: 0px;

    padding-left: 60%;
    padding-right: 3%;
}

#_04img {
    background-color: #313131;
    position: absolute;
    top: -50%;
    left: 0px;


    height: auto;
    width: auto;
}



#_05 {
    margin-top: 400px;
    /* 
    border-style: dashed;
    border-width: 10px; */
}

#_05h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-top: 40%;
    padding-left: 3%;
    padding-right: 3%;
}

#_05text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    left: 0px;

    padding-left: 3%;
    padding-right: 67%;
    padding-bottom: 10%;
}

#_05img {
    background-color: #313131;
    position: absolute;
    top: 0px;

    margin-bottom: 20%;

    height: auto;
    width: 100%;
}

.shareButton06{
    background: var(--green);
   position: relative;
   bottom: 40%;
}
#share {
    background-color: var(--green);
    margin: 3%;
    width: 10%;
    height: 10%;
    position: relative;
    
}


/* step 1 css */

#SpendenFormHolder {
    position: relative;
    height: 800px;

    margin: auto;
}

#SpendenFormHeader {
    position: relative;
    height: auto;

    margin: auto;
}

#SpendenFormContent {
    position: relative;
    height: 500px;

    margin: auto;
}



#SFHeader_Header {

    width: auto;
    padding-top: 100px;
    height: auto;

    text-align: center;

    overflow: hidden;
    font-family: Abel;
    font-size: 18px;
    line-height: 24px;
    color: #303030;
}

#SFHeader_Steps {
    height: 50%;
    margin-bottom: 50px;
    padding-top: 100px;
}

.SFHeader_StepDiv {
    display: inline-block;

    margin-left: 100px;
    margin-right: 100px;

    width: 150px;
    height: 100px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    opacity: 50%;

    text-align: left;
}

.SFHeader_StepDiv :hover {
    opacity: 100%;
}

.SFHeader_StepDiv :active {
    opacity: 100%;
}

#step1Text::after {
    content: 'Betrag & Frequenz';
}

#step2Text::after {
    content: 'Persönliche Angaben';
}

#step3Text::after {
    content: 'Zahlungsart';
}

.SFHeader_StepDiv::after {
    text-align: left;

    display: block;
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    opacity: 50%;
}

.SFHeader_StepDiv::after :active {
    opacity: 100%;
}

.SFHeader_Btn {
    width: 100px;
    height: 100px;

    margin-left: 50px;
    margin-right: 50px;

    color: white;
    border: none;

    text-align: center;
    display: inline-block;

    background-image: url('../images/buttons/Button-Background-Outline.png');
    background-size: cover;
    background-color: var(--red);
}

#SFHeader_BorderBottom {
    width: 100%;
    height: 2px;

    background-color: #313131;
}

/*content Step1 */

.contents1{
    width: 80%;
   
}

.content__title{
  
    line-height: 45px; 
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: left;
    
}
.content__amount{
  
    line-height: 24px;
    position: relative;
    left: -45%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.content__btn{
    display: inline-block;
    width: 20%;
    height: 37px;
    margin: 2%;
    background: white;
}

.content__btn:hover{
    background-color: lightgray;
}
/*Step2*/
.step2 {
    width: 80%;
    display: block;
    border: 1px solid #313131;
    margin-top: 5%;
}

.user-details-input {
    margin-top: 5%;
    width: 100%;
    display: block;
    text-align: left;
}

.textfield__txt {
    padding-right: 80%;
    justify-items: left;
    padding-left: 2%;
}

.textField__input {
    width: 80%;
    display: block;
    margin: 2%;
    line-height: 24px;
}

#background_group {
    top: 190px;
    left: 167px;
    width: 1728px;
    height: 1432px;

    position: absolute;
}

#spenden_group_007_spendenmodul {
    top: 190px;
    left: 167px;
    width: 1393px;
    height: 1051.68px;

    position: absolute;
}

#spenden_thank_you {
    top: 190px;
    left: 167px;
    width: 1393px;
    height: 1051.68px;

    background-color: white;
    position: absolute;
}

#thank_you_text {
    position: absolute;
    width: 1109px;
    height: 84px;
    left: 310px;
    top: 674px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 62.6824px;
    line-height: 84px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #313131;
}

