html {
    scroll-behavior: smooth;
}

:root {
    --mint: #D6E5CB;
    --green: #3D7245;
    --green-light: #73cd81;
    --dark-grey: #313131;
    --orange: #EE6C4D;
    --red: #BC2E19;

    --btn_red: #BC2E19;
    --btn_red_hover: #e93e24;
}

button {
    background-color: white;
}

/* CSS for different Buttons */

.button {
    width: 110px;
    height: 110px;

    color: white;
    border: none;
<<<<<<< HEAD
    padding: 0px;
=======
>>>>>>> f84f3a19770c78df0e6b769645b04d3aa66f9b47

    text-align: center;
    display: inline-block;

    background-image: url('../images/buttons/Button-Background-Outline.png');
    background-size: cover;
}

#donate {
    background-color: var(--btn_red);
}

#participate {
    background-color: var(--mint);
}

#switchPage {
    background-color: var(--green);
}

#request {
    background-color: var(--green-light);
}

#scrollUp {
    max-width: 100%;
    max-height: 100%;

    background-color: none;
}

.buttonUp {
    width: 100px;
    height: 100px;

    display: block;
    margin-left: auto;
    margin-right: auto;

    overflow: visible;
    border: none;
    padding: 0px;
    margin-top: 50px;
    margin-bottom: 50px;

    text-align: center;

    background-image: url('../images/buttons/Button-Outline-Black.png');
    background-size: cover;
    background-color: white;
}

.buttonUp::after {
    content: "Nach Oben";
    display: block;
}

.button:hover {
    background-color: var(--btn_red_hover);
    cursor: pointer;
}

.btn_content {

    text-align: center;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: #313131;
}

.btn_text {
    width: max-content;
    height: max-content;

    text-align: center;
    padding-top: 50%;
}