/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');


/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --mint: #D6E5CB;
    --green: #3D7245;
    --dark-grey: #313131;
    --orange: #EE6C4D;
    --red: #BC2E19;
}

/* example of color use {
    background-color: var(--snow);
} */

.hidden {
    display: none !important;
}

body {
    background-color: var(--snow);
    font-family: 'Fahkwang', sans-serif;
    margin: 0;
    padding: 0;
}

/* CSS FOR MAP */

.map-container {
    height: 500px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#map {
    height: 100%;
    width: 100%;
}

.zoomButton {
    width: 200px;
    height: 50px;

    text-align: center;
    opacity: 50%;
}

#button_zoomIn:hover {
    opacity: 100%;
}

#button_zoomOut:hover {
    opacity: 100%;
}
