@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {

    --mint: #D6E5CB;
    --green: #3D7245;
    --dark-grey: #313131;
    --orange: #EE6C4D;
    --red: #BC2E19;
}

.hidden {
    display: none !important;
}

body {
    background-color: white;
    font-family: 'Fahkwang', sans-serif;
}

.group {
    background-color: white;
    text-align: center;
    /* 
    border-style: dashed;
    border-width: 10px; */

    width: 100%;
    height: auto;
}

#_01 {
    /* background-image: url(https://dreaminginyellow.com/diy-custom-design-yellow-strips/); */
    background-image: url(../images/spenden_page/spenden_IMG-001.svg);

    padding-top: 120px;
    padding-bottom: 511px;

    width: 100%;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

}

.button {
    text-align: center;

    background: url(../images/buttons/button_IMG-Background.svg);

    font-family: 'Abel', sans-serif;
    font-size: 18.25;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}

#donationBtn {

    position: absolute;
    width: 158px;
    height: 162px;
    left: 1388.39px;
    top: 460px;
}

#_02 {
    background-color: var(--mint);
    height: auto;

    text-align: center;
    color: var(--dark-grey);
}

#_02h {

    font-family: 'Abel';
    font-style: normal;
    font-size: 18px;

    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
}

#_02text {

    font-size: 40px;

    padding-bottom: 10%;
    padding-top: 120px;
    padding-left: 6.9%;
    padding-right: 6.9%;
}

.article {
    background-color: white;

    /* border-style: dashed;
    border-width: 10px; */

    width: auto;
    height: auto;

    position: relative;
}

#_03 {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 200px;
}

#_03h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-right: 40%;

    left: 0px;
    top: 0px;
}

#_03text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    left: 0px;

    padding-bottom: 400px;
    padding-right: 71%;
}

#_03img {
    background-color: #313131;
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 5%;

    height: auto;
    width: auto;
}


#_04 {
    margin-right: 100px;
    margin-left: 100px;
}

#_04h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-left: 60%;
    padding-right: 1%;
    padding-top: 5%;

    right: 0px;
    top: 0px;
}

#_04text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    right: 0px;

    padding-left: 60%;
    padding-right: 3%;
}

#_04img {
    background-color: #313131;
    position: absolute;
    top: -50%;
    left: 0px;


    height: auto;
    width: auto;
}



#_05 {
    margin-top: 400px;
    /* 
    border-style: dashed;
    border-width: 10px; */
}

#_05h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-top: 40%;
    padding-left: 3%;
    padding-right: 3%;
}

#_05text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    left: 0px;

    padding-left: 3%;
    padding-right: 67%;
    padding-bottom: 10%;
}

#_05img {
    background-color: #313131;
    position: absolute;
    top: 0px;

    margin-bottom: 20%;

    height: auto;
    width: 100%;
}

#_06 {

    height: 900px;
    width: auto;
    background-color: var(--green);
    position: relative;
    padding-top: 4%;

}

#_06shareText {


    position: absolute;
    /* width: 161px;
    height: 24px; */

    bottom: 20%;
    left: 50%;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
    color: white;

}


#_06Btn {

   
    position: absolute;
    bottom: 10%;
    left: 50%;


    width: auto;
    height: auto;

}

#_06whatsAppBtn {

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

#progress {

    width: 50%;

    float: left;
    height: 31px;
    background: #FFFFFF;
    /* deleted "/"*/
    background: -webkit-linear-gradient(-90deg, #FFFFFF, #FFFFFF);
    /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(-90deg, #FFFFFF, #FFFFFF);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #FFFFFF, #FFFFFF);
    /* Standard syntax */
   /* z-index: 333;*/
   
  
}

#countdown-wrap {
    width: 120%;
    height: 160px;
    padding: 20px;
    font-family: 'Abel';
    font-weight: 400;
    color:#FFFFFF;
    
}


#_06text1{

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
}

#_06text2{

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    line-height: 50px;
}


#goal {

    position: absolute;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;

    right: 0%;
    margin: 2%;
}

#goal-status {
    
    position: absolute;
    
    color: #FFFFFF;
    line-height: 18px;
    font-family: 'Abel';
    font-size: 18px;
    text-align: center;

    left: 0%;
    margin: 2%;
    
}


@media only screen and (max-width: 540px) {
    #goal {
        text-align: center;
    
    }
}

/* deleted background: #ee0e00;
changed float from left to none */
#glass {
    width: 80%;
    height: 31px;
    float: none;
    overflow: hidden;
    background-color: transparent;
    border: thin solid white;
    
}

.goal-status {

    left: 0%;
    bottom: -10%;
    
}

@media only screen and (max-width: 540px) {
    .goal-stat {
        width: 40%;
        text-align: center;
    }
}

.goal-number {
    display: block;
    font-size: 20px;
    font-weight: bold;
}




/* step 1 css */