@import url('https://fonts.googleapis.com/css2?family=Fahkwang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {

    --mint: #D6E5CB;
    --green: #3D7245;
    --dark-grey: #313131;
    --orange: #EE6C4D;
    --red: #BC2E19;
}

.hidden {
    display: none !important;
}

body {
    background-color: white;
    font-family: 'Fahkwang', sans-serif;
}

.group {
    background-color: white;
    text-align: center;
/* 
    border-style: dashed;
    border-width: 10px; */

    width: 100%;
    height: auto;
}

#_01 {
    /* background-image: url(https://dreaminginyellow.com/diy-custom-design-yellow-strips/); */
    background-image: url(../images/spenden_page/spenden_IMG-001.svg);

    padding-top: 120px;
    padding-bottom: 511px;

    width: 100%;
    height: auto;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;
 }

 #donationBtn {
    
    position: absolute;
    width: 150.53px;
    height: 154.99px;
    left: 1388.39px;
    top: 460px;
    border-radius: 50px;
    
    background-color: var(--red) ;
    border-radius: 50%;

   
    
 }

#_02 {
    background-color: var(--mint);
    height: auto;

    text-align: center;
    color: var(--dark-grey);
}

#_02h {

    font-family: 'Abel';
    font-style: normal;
    font-size: 18px;

    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
}

#_02text {

    font-size: 40px;

    padding-bottom: 10%;
    padding-top: 120px;
    padding-left: 6.9%;
    padding-right: 6.9%;
}

.article {
    background-color: white;

    /* border-style: dashed;
    border-width: 10px; */

    width: auto;
    height: auto;

    position: relative;
}

#_03 {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 200px;
}

#_03h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-right: 40%;

    left: 0px;
    top: 0px;
}

#_03text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    left: 0px;

    padding-bottom: 400px;
    padding-right: 71%;
}

#_03img {
    background-color: #313131;
    position: absolute;
    top: 0px;
    right: 0px;

    height: 100%;
    width: auto;
}


#_04 {
    margin-right: 100px;
    margin-left: 100px;
}

#_04h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-left: 60%;
    padding-right: 1%;
    padding-top: 5%;

    right: 0px;
    top: 0px;
}

#_04text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    right: 0px;

    padding-left: 60%;
    padding-right: 3%;
}

#_04img {
    background-color: #313131;
    position: absolute;
    top: -150px;
    left: 0px;

    height: 120%;
    width: auto;
}



#_05 {
    margin-top: 400px;
/* 
    border-style: dashed;
    border-width: 10px; */
}

#_05h {

    font-family: 'Fahkwang';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;

    padding-top: 40%;
    padding-left: 3%;
    padding-right: 3%;
}

#_05text {

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    left: 0px;

    padding-left: 3%;
    padding-right: 67%;
    padding-bottom: 10%;
}

#_05img {
    background-color: #313131;
    position: absolute;
    top: 0px;

    margin-bottom: 20%;

    height: auto;
    width: 100%;
}

#_06 {

    height: 500px;
    width: auto;
    background-color: var(--green);

    text-align: center;
}

#_06shareText {

    
    margin-bottom: 20%;


}

#_06mailBtn{
    position: absolute;
    width: 27.26px;
    height: 27.26px;
    left: 817px;
    top: 5785px;
}

  
#progress {
  /* shows donated money on bar */
  width: 50%; 

  float: left;
  height: 20px;
  background: #FFFFFF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #FFFFFF, #FFFFFF); /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(-90deg, #FFFFFF, #FFFFFF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #FFFFFF, #FFFFFF); /* Standard syntax */
  z-index: 333;
}

#countdown-wrap {
  width: 120%;
  height: 160px;
  padding: 20px;
  font-family: 'Abel';
  font-weight: 500;
}
#goal {
  font-size: 25px;
  text-align: right;
  width:80%;
}
@media only screen and (max-width: 540px) {
  #goal {
    text-align: center;
  }
}


#glass {
  width: 80%;
  height: 20px;
  border-radius: 6px;
  background: #ee0e0;
  float: left;
  overflow: hidden;
  background-color: #FFFFF ;
}
.goal-stat {
  width: 20%;
  height: 30px;
  padding: 10px;
  float: left;
  margin: 0;
}
@media only screen and (max-width: 540px) {
  .goal-stat {
    width: 40%;
    text-align: center;
  }
}
.goal-number {
  display: block;
  font-size: 20px;
}
.goal-number {
  font-weight: bold;
}
*/
